@import "styles/variaveis.scss";

div.row {
  &.cards {
    width: 90%;
    margin-left: 5%;
    div.card-notificacao {
      border: 1px solid $blackInput;
      border-left: 7px solid $blackInput;
      border-radius: 4px;
      .titulo {
        margin: 1em;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid $grayDisabled;
      }
      .numero {
        font-size: 60px;
        font-weight: 700;
        padding-left: 12px;
        display: flex;
        justify-content: space-between;
        span {
          color: $grayDisabled;
          font-size: 11px;
          font-weight: normal;
          margin-top: auto;
          margin-bottom: 1em;
          margin-right: 1em;
        }
      }
      &.two {
        border-color: $blue;
      }
      &.three {
        border-color: $red;
      }
    }
  }
}
